* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Belanosima', sans-serif;
  font-family: 'Krub', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  background-color: #ffffff;
}
.redFocus:focus{
  border: 2px solid #FF5049 !important;
}
.red{
  color: #FF5049;
}